---
layout: page
title: Supplementary data
---
	<h3>More maps!</h3>
	<p>If our data story has peaked your interest in agricultural facts, and you want to learn more about the evolution of global
		agriculture and yields, here are some additional maps for your investigation.
	</p>
	<hr/>
	<div {% include meat.html %}></div><div class="content"></div>
	<div {% include fruit.html %}></div><div class="content"></div>
	<div {% include grain_yield.html %}></div><div class="content"></div>
	<div {% include milk.html %}></div><div class="content"></div>
	<div {% include veggies.html %}></div><div class="content"></div>
	<div {% include roots.html %}></div><div class="content"></div>
	<p>Hopefully now you have a better idea of the current state of global agriculture and how it has evolved,
		and are inspired to help change it for the better in the future!</p>

